
@model Product
@{
    ViewData["Title"] = "View";
}

<div class="card">
    <div class="card__img">
        <img class="card__img-item" src="@Model.ImgPath" alt="" />
    </div>
    <div class="card__header">@Model.Name</div>
    <div class="card__description">@Model.Description</div>
    <div class="card__accept-block">
        <div class="card__price"> @Model.Price</div>
        <a class="card__button" href="#">В корзину</a>
    </div>
</div>

