<!DOCTYPE html>
<head>
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="~/css/AdminCreate.css" />
</head>
@model Product
@{
    Layout = "_AdminLayout";
}

<div class="create-container">
    <form asp-action="Create" method="post">
        <label>Название:</label><br />
        <input asp-for="Name" /><br />
        <label>Описание:</label><br />
        <input asp-for="Description" /><br />
        <label>Категория:</label><br />
        <select asp-for="Category">
            <option value="Бургеры">Бургеры</option>
            <option value="Пицца">Пицца</option>
            <option value="Роллы">Роллы</option>
        </select><br />
        <label>Цена:</label><br />
        <input asp-for="Price" /><br />
        <button class="save-button" type="submit">Сохранить</button><br />
        <a class="cancel-button" asp-action="Index" asp-controller="Admin">Отмена</a><br />
    </form>
</div>

