@using Project.Views.ViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="shop__body">
    @foreach (var el in Model.Products)
    {
        @await Html.PartialAsync("ProductCard", el)
    }
</div>

<div class="page__block">
    <div page-model="@Model.PageInfo" page-action="Index"
         page-class-enabled="true"
         page-class-normal="page-btn-default"
         page-class-selected="page-btn-selected page-url-category=@Model.CurrentCategory">
    </div>
</div>

