@using Project.Views.ViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="shop__body">
    @foreach (var el in Model.Products)
    {
        @await Html.PartialAsync("ProductCard", el)
    }
</div>

<div page-model="@Model.PageInfo" page-action="Index"></div>
