@using Project.Views.ViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var el in Model.Products)
{
    @await Html.PartialAsync("ProductCard",el)
}

<div page-model="@Model.PageInfo" page-action="Index"></div>
