@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @foreach (var el in Model)
        {
            <div>@el.Name</div>
            <div>@el.Price</div>
            <div style="color:palevioletred">@el.Category</div>
        }
    </div>
